﻿<!--google map implementation-->
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLNZwcxah4J95laN4Ra23I0WQbZQS0XLQ&callback=initMap" type="text/javascript"></script>

<div id="map"></div>